<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    
    <!-- Sitecore とのクッキー連携 -->
    <add key="Sitecore.Device.CookieName" value="SC_DEVICE_COOKIE" />
    <add key="Sitecore.Device.DefaultGuid" value="{A9273D73-5089-4648-B809-696B6A18BB97}" />
    <add key="Sitecore.Device.AppleGuid" value="{195C1762-B4D7-4921-801C-79BB20E48CAE}" />
    <add key="Sitecore.Device.AndroidGuid" value="{73A0FEAD-4770-479E-BDDF-5910F167597D}" />
    <add key="Sitecore.Device.DesktopGuid" value="{66734A1A-ACD3-4E52-B134-07C59CFA21EE}" />
    <add key="Sitecore.Device.MobileGuid" value="{EB059EAB-A48A-4BDA-ADF7-6CF168F2299F}" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
</configuration>
